

nav {
  width: 100%;
  
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content:space-between;

}


nav > ul > li > a {
  text-decoration: none;
  color: black
}

footer {
  bottom: 0;
  width: 100%;
  position: relative;
  background-color: white;
  text-align: center;
}