{{#if data.userInSession}}
<nav>
    <ul>
        <li>
         <a href="/"><h3>Pizza Planet</h3></a>  
        </li>
        <li>
            <a href="/menu">Menu |</a>
            <a href="/users/profile">Profile |</a>
            <a href="/users/my-orders">My Orders |</a>
            <a href="/users/my-favourites">My Favourites |</a>
            <a href="/users/create-my-pizza">Create My Pizza</a>
        </li>
        <li>
            <form action="/auth/logout" method="post">
             <button class="buttonLogout">Logout</button>
            </form>
        </li>
    </ul>
</nav>
{{else}}
<nav>
    <ul>
        <li>
            <a href="/"><h3>Pizza Planet</h3></a>  
        </li>
        <li>
            <a href="/menu">Menu |</a>
            <a href="/auth/signup">Signup |</a>
            <a href="/auth/login">Login |</a>
            <a href="/users/profile">Profile</a>
    
        </li>
    </ul>
</nav>
{{/if}}

<div class="card-collection">
 <div class="card-container">
    <div class="card-elements">
      <h5>{{data.pizza.name}}</h5>
        <div class="card-img">
          <img src="/images/pepperoni.jpg" alt="Pizza">
        </div>
      <p>{{data.pizza.ingredients}}</p>

      <p>Descrição</p>
      <button><a href="#" class="a-menu">Order</a></button>
    </div>
  </div>
</div>
