{{#if data.userInSession}}
<nav>
    <ul>
       <li>
         <a href="/"><h3>Pizza Planet</h3></a>  
        </li>
        <li>
            <a href="/menu">Menu |</a>
            <a href="/users/profile">Profile |</a>
            <a href="#">My Orders |</a>
            <a href="#">My Favourites |</a>
            <a href="#">Create My Pizza</a>
        </li>
        <li class="d-flex">
            <form action="/auth/logout" method="post">
             <button class="nav-button">Logout</button>
            </form>
            <button class="nav-button" id="buttonCart">Cart</button>
        </li>
    </ul>
</nav>
{{else}}
<nav>
    <ul>
        <li>
            <a href="/"><h3>Pizza Planet</h3></a>  
        </li>
        <li>
            <a href="/menu">Menu |</a>
            <a href="/auth/signup">Signup |</a>
            <a href="/auth/login">Login |</a>
            <a href="/users/profile">Profile</a>
        </li>
        <li>
             <button class="nav-button" id="buttonCart">Cart</button>
        </li>
    </ul>
</nav>
{{/if}}



{{> allpizzas }}
{{> shoppingCart }}