<nav>
    <ul>
        <li>
         <a href="/"><h3>Pizza Planet</h3></a>  
        </li>
        <li>
            <a href="/admin/profile">Profile</a>
            <a href="/admin/menu">Menu</a>
            <a href="/admin/create-a-user">Create a User</a>
            <a href="/admin/create-a-pizza">Create a Pizza</a>
        </li>
        <li>
            <form action="/auth/logout" method="post">
             <button class="buttonLogout">Logout</button>
            </form>
        </li>
    </ul>
</nav>
