<nav>
    <ul>
        <li>
         <a href="/" class="icon-li"><img src="/images/pizza-planet.png" alt="" width="50" height="50"><h3>Pizza Planet</h3></a>  
        </li>
        <li>
            <a href="/admin/profile">Profile</a>
            <a href="/admin/menu">Menu</a>
            <a href="/admin/create-a-user">Create a User</a>
            <a href="/admin/create-a-pizza">Create a Pizza</a>
        </li>
        <li>
            <form action="/auth/logout" method="post">
             <button class="nav-button">Logout</button>
            </form>
        </li>
    </ul>
</nav>
