<h1 class="menu-title" id="bt">Choose your Pizzas here!</h1>
 
<div class="card-collection">
  {{#each data.pizzas}}
 <div class="card-container">
    <div class="card-elements">
      <h5>{{name}}</h5>
        <div class="card-img">
          <img src="/images/pepperoni.jpg" alt="Pizza">
        </div>
      <p>Ingredients</p>
      <button><a href="menu/{{_id}}" class="a-menu">See more</a></button>
      <button><a href="#" class="a-menu">Order</a></button>
    </div>
  </div>
   {{/each}}
</div>