<h1>Choose your Pizzas here!</h1>
 
</ul>
 
<div class="row">
  {{#each pizzas}}
<div class="w-25 mx-5">
 <div class="card border border-white " >
  <img src="{{image}}" class="card-img-top" alt="..." style="height: 12rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Description</p>
  </div>
    <ul class="list-group list-group-flush border border-white">
    <li class="list-group-item"><a href="#" class="card-link">See More</a></li>
    <li class="list-group-item"><a href="#" class="card-link">Order</a></li>
  </ul>
 </div>
 </div>
  {{/each}}
</div>
