{{#if userInSession}}
<nav>
    <ul>
        <li>
         <a href="/" class="icon-li"><img src="/images/pizza-planet.png" alt="" width="50" height="50"><h3>Pizza Planet</h3></a>  
        </li>
        <li>
            <a href="/menu">Menu |</a>
            <a href="/users/profile">Profile |</a>
            <a href="/users/my-orders">My Orders |</a>
            <a href="/users/my-favourites">My Favourites |</a>
            <a href="/users/create-my-pizza">Create My Pizza</a>
        </li>
        <li class="d-flex">
            <form action="/auth/logout" method="post">
             <button class="nav-button">Logout</button>
            </form>
            <button class="nav-button" id="buttonCart">Cart</button>
        </li>
    </ul>
</nav>
{{else}}
<nav>
    <ul>
        <li>
            <a href="/" class="icon-li"><img src="/images/pizza-planet.png" alt="" width="50" height="50"><h3>Pizza Planet</h3></a>  
        </li>
        <li class="li-center">
            <a href="/menu">Menu |</a>
            <a href="/auth/signup">Signup |</a>
            <a href="/auth/login">Login</a>
        </li>
        <li>
             <button class="nav-button" id="buttonCart">Cart</button>
        </li>
    </ul>
</nav>
{{/if}}

{{> shoppingCart }}


