<div id="shopping-cart-sidebar">
  <h1>Shopping Cart</h1>
    <div class="cart-row">
      <span>Title</span>
      <span class="cart-price">Price</span>
      <span class="cart-quantity">Quantity</span>
    </div>
    <div class="cart-row">
    <div class="cart-items"></div>
    </div>
    <div class="cart-total">
      <strong class="cart-total-title">Total</strong>
      <span class="cart-total-price">$0</span>
    </div>
  <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</div>