
<div id="shopping-cart-sidebar">
    <h1>Shopping Cart</h1>
    <div class="cart-row">
      <span>Title</span>
      <span>Price</span>
      <span>Quantity</span>
      </div>
    <div class="cart-items"></div>
    <span>Total</span>
    <button>Checkout</button>
</div>