<div class="slideshow">
  <div class="slide">
    <a href="#"><img src="images/slides/promo-day.jpg" alt="Promo Pizza"></a>
  </div>
  <div class="slide">
    <a href="#"><img src="images/slides/vegan-pizza.jpg" alt="Vegan Pizza"></a>
  </div>
  <div class="slide">
    <a href="#"><img src="images/slides/own-pizza.jpg" alt="Create Your Own Pizza"></a>
  </div>
</div>