
{{> public }}


{{#if userInSession}}

{{else}}
  <br>
  <p>Still no logged in user, sorry!</p>
{{/if}}

 <header>
        <h1>Profile Page</h1>
    </header>
    
    <div class="profile-container">
        <div class="profile-details">
            <h2>John Doe</h2>
            <p>Age: 30</p>
            <p>Location: New York, USA</p>
        </div>
        
        <div class="profile-bio">
            <h3>About Me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum auctor lorem vitae gravida. Maecenas condimentum lobortis dolor non ultrices. Donec ut nisi vitae arcu fringilla condimentum. Suspendisse commodo, dui eu interdum auctor, massa neque pellentesque purus, et varius nunc nibh in mi. In consectetur nisi id tristique tristique.</p>
        </div>
    </div>