
   {{> public }}
   
   {{#if userInSession}}
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/users/profile">My Data</a>
  </button>
  <button>
    <a href="/users/profile">My Orders</a>
  </button>
  <button>
    <a href="/users/profile">My Favourites</a>
  </button>
  <button>
    <a href="/users/profile">Create My Pizza</a>
  </button>
{{else}}
  <br>
  <p>Still no logged in user, sorry!</p>
{{/if}}

