
{{> public }}


{{#if userInSession}}

{{else}}
  <br>
  <p>Still no logged in user, sorry!</p>
{{/if}}

<div class="profile-card">
    <img src="profile-image.jpg" alt="Profile Image" class="profile-image">
    <h2 class="profile-name">John Doe</h2>
    <p class="profile-email">johndoe@example.com</p>
    <button class="profile-button">Edit Profile</button>
    </div>