{{> admin }}

<div class="card-collection">
 <div class="card-container">
    <div class="card-elements">
      <h5>{{data.pizza.name}}</h5>
        <div class="card-img">
          <img src="/images/pepperoni.jpg" alt="Pizza">
        </div>
      <p>{{data.pizza.ingredients}}</p>
      <button><a href="/admin/menu/{{data.pizza._id}}/edit-a-pizza" class="a-menu">Update</a></button>
      <form action="/admin/menu/{{data.pizza._id}}/delete-a-pizza" method="POST">
      <button>Delete</button>
    </form>
    </div>
  </div>
</div>
