{{> public }}

<div class="container">
<form action="/auth/login" method="post">
<label for="email">Email: </label>
<input type="text" name="email" id="emai" placeholder="Tony">
<label for="Password">Password: </label>
<input type="password" name="password" id="password" placeholder="******">
<button type="submit">Login</button>
<p class="form-p">Don't have an account? <a href="/auth/signup">Register here</a></p>


 {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
</form>
</div>


