{{> public }}

<form action="/auth/signup" method="post">
<label for="username">Username: </label>
<input type="text" name="username" id="username" placeholder="Tony">
<label for="email">Email: </label>
<input type="email" name="email" id="email" placeholder="tony@pizzaplanet.com">
<label for="password">Password: </label>
<input type="password" name="password" id="password" placeholder="******">
{{!-- <label for="cellphone">Cellphone: </label>
<input type="number" name="cellphone" id="cellphone"> --}}
<button type="submit">Signup</button>
<p>Already have an account? <a href="/auth/login">Login now!</a></p>


 {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
</form>